.finca {
  .info {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    button {
      padding: 5px;
      cursor: pointer;
      background-color: green; /* Color de fondo verde */
      border-radius: 5px; /* Borde redondeado */
      color: white; /* Color del texto en blanco para mayor contraste */

      &:hover {
        background-color: darkgreen; /* Cambio de color al pasar el ratón sobre el botón */
      }
    }
  }
}
