.dataTableh {
  .dataGrid {
    background: white;
    padding: 20px;
    height: 200px;

    .MuiDataGrid-toolbarContainer {
      display: flex;
      justify-content: space-between;
    }

    img {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      object-fit: cover;
    }

    .action {
      display: flex;
      gap: 15px;
      align-items: center;

      .delete-icon,
      .edit-icon {
        width: 42px;
        height: 42px;
        cursor: pointer;
      }

      .edit-icon {
        order: 2;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .dataGrid {
      padding: 10px;
    }

    .action {
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
    }
  }
}
