@import "../../styles/variables.scss";

.adfinca {
  width: 100vw;
  height: 100vh;
  position: absolute; 
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s, transform 0.3s;

  .modal {
    padding: 50px;
    border-radius: 30px;
    background-color: #e3e377;
    position: relative;

    h1 {
      margin-bottom: 40px;
      font-size: 24px;
      color: $soft-color;
    }

    .logo {
      display: flex;
      align-items: center;
      justify-content: center; /* Agregado para centrar horizontalmente */
      font-weight: bold;
      gap: 10px;

      img {
        width: 80px;
        height: 80px;
        border-radius: 100%;
      }
    }

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }

    form {
      display: flex;
      flex-wrap: wrap;
      max-width: 500px;
      justify-content: space-between;

      .item {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;

        label {
          font-size: 14px;
        }

        input {
          padding: 10px;
          background-color: transparent;
          color: white;
          outline: none;
          border-radius: 50px; 
          border: 1px solid $soft-color;
          border-radius: 3px;
        }
      }

      button {
        width: 100%;
        padding: 10px;
        cursor: pointer;
        background-color: green;
        border-radius: 50px;
        color: rgb(3, 2, 2);

        &:hover {
          background-color: darkgreen;
        }
      }
    }
  }
}
