@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.menu {
  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    .title {
      font-size: 12px;
      font-weight: bold;
      color: $soft-color;
      text-transform: uppercase;

      // Estilos para tamaños grandes
      @media only screen and (min-width: 601px) {
        font-size: 14px;
        display: block;
      }
    }

    .listItem {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 5px;

      &:hover {
        background-color: $soft-bg;
      }

      .listItemTitle {
        // Estilos para tamaños grandes
        @media only screen and (min-width: 601px) {
          font-size: 14px;
          display: block;
        }
      }
    }
  }
}
