@import "../../styles/variables.scss";

.addusuarios {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.724);
  transition: opacity 0.3s, transform 0.3s;

  .modal {
    width: 50%; /* Ajusta el ancho del modal según tus necesidades */
    max-width: 600px;
    padding: 50px;
    border-radius: 30px;
    background-color: #e3e377;
    position: relative;

    h1 {
      margin-bottom: 40px;
      font-size: 24px;
      color: $soft-color;
    }

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }

    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .item {
        width: 48%;
        margin-bottom: 20px;

        label {
          font-size: 14px;
        }

        input, select {
          width: 100%;
          padding: 10px;
          background-color: transparent;
          color: black;
          outline: none;
          border-radius: 3px;
          border: 1px solid $soft-color;
        }

        &.hidden {
          display: none;
        }
      }

      button {
        width: 100%;
        padding: 10px;
        cursor: pointer;
        background-color: green;
        border-radius: 3px;
        color: rgb(3, 2, 2);

        &:hover {
          background-color: darkgreen;
        }
      }
    }

    @media only screen and (max-width: 600px) {
      .modal {
        padding: 20px;
      }

      .item {
        width: 100%;
      }
    }
  }
}
