// single.scss
.container2 {
  width: 100%;
  height: 100%;

  .single {
    .view {
      display: flex;
      justify-content: space-between; /* Alineación de los elementos a ambos lados */

      .hacienda-info,
      .activities {
        flex: 1; /* Ocupa el espacio disponible en el contenedor */
        margin-right: 20px; /* Ajusta el margen entre las dos secciones según sea necesario */
      }

      .image {
        text-align: center;
        margin-top: 20px;

        img {
          width: 100%;
          max-width: 600px; /* Ajusta según sea necesario */
          height: auto;
          border-radius: 10px; /* Añadí un borde redondeado a la imagen */
        }
      }
    }
  }
}
