// single.scss

.container2 {
  width: 100%;
  height: 100%;

  .single {
    display: flex;

    .view {
      flex: 1;

      .hacienda-info {
        h2 {
          margin-bottom: 20px;
        }

        div {
          margin-bottom: 10px;

          strong {
            margin-right: 10px;
          }
        }
      }

      .activities {
        h2 {
          margin-bottom: 20px;
        }

        p {
          margin-bottom: 20px;
        }
      }
    }

    .image {
      text-align: center;
      margin-top: 20px;

      img {
        width: 100%;
        max-width: 600px; // Ajusta el ancho máximo según sea necesario
        height: auto; // Mantiene la proporción de aspecto
        border-radius: 10px;
      }

      span {
        display: block;
        margin-top: 10px;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}
