// single.scss

.container2 {
  width: 100%;
  height: 100%;

  .single {
    display: flex;

    .view {
      flex: 1;

      .hacienda-info {
        h2 {
          
          margin-bottom: 20px;
        }

        div {
          font-size: 19px;
          margin-bottom: 10px;

          strong {
            margin-right: 10px;
          }
        }
      }

      .activities {
        justify-content: center;
        .titulo2{
          color: #B19470;
          font-size: 23px;
          font-weight: bold;
          h2 {
            margin-bottom: 20px;
          }

        }
    
        p {
          font-size: 16px;
          margin-bottom: 20px;
        }
      }
    }

    .image {
      text-align: center;
      margin-top: 40px;

      img {
        width: 500px;
        height: 300px;
        //width: 100%;
        //max-width: 600px; // Ajusta el ancho máximo según sea necesario
        //height: auto; // Mantiene la proporción de aspecto
        border-radius: 15px;
      }

      span {
        display: block;
        margin-top: 10px;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}
