.users {
  button {
    padding: 10px; /* Aumentado el relleno para mayor comodidad táctil en pantallas pequeñas */
    font-size: 15px;
    cursor: pointer;
    color: white;
    background-color: #B19470;
    border-radius: 20px;
  }


@media screen and (min-width: 600px) {
  .info {
    flex-direction: row; /* Vuelve a la dirección de fila en pantallas más grandes */
  }
}


  
}
