// styles.scss

@import "./variables.scss";
@import "./responsive.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: "Inter", sans-serif;
  background-color: $main-bg;
  color: $main-color;
}

.container {
  display: flex;

  // Nuevos estilos para tamaños pequeños
  @include sm {
    flex-direction: column;
  }
}

.menuContainer {
  width: 250px;
  padding: 5px 20px;
  border-right: 2px solid $soft-bg;
  background-color: #a8532e;

  @include lg {
    width: max-content;
  }

  // Nuevos estilos para tamaños pequeños
  @include sm {
    width: 100%;
    border: none; // Eliminar el borde derecho en tamaños pequeños
  }

  // Nuevos estilos para tamaños medianos
  @include md {
    padding: 10px;
  }
}

.contentContainer {
  padding: 5px 20px;
  width: 100%;
  background-color: white;

  // Nuevos estilos para tamaños pequeños
  @include sm {
    margin-top: 10px; // Agregar un poco de espacio en la parte superior en tamaños pequeños
  }
}

