// styles.scss

@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: "Inter", sans-serif;
  background-color: $main-bg;
  color: $main-color;
}

.container {
  display: flex;
  flex-direction: column; // Por defecto, el contenedor tiene dirección de columna

  // Nuevos estilos para tamaños medianos y grandes
  @media only screen and (min-width: 601px) {
    flex-direction: row;
  }
}

.menuContainer {
  width: 100%; // Ocupa todo el ancho por defecto
  padding: 5px 20px;
  background-color: #a8532e;

  // Nuevos estilos para tamaños medianos y grandes
  @media only screen and (min-width: 601px) {
    width: 250px;
    border-right: 2px solid $soft-bg;
  }

  // Nuevos estilos para tamaños grandes
  @media only screen and (min-width: 1200px) {
    width: max-content;
  }

  // Nuevos estilos para tamaños medianos
  @media only screen and (min-width: 601px) and (max-width: 1199px) {
    padding: 10px;
  }
}

.contentContainer {
  padding: 5px 20px;
  width: 100%;
  background-color: white;

  // Nuevos estilos para tamaños pequeños
  @media only screen and (max-width: 600px) {
    margin-top: 10px;
  }
}
