@import "../../styles/variables.scss";

/* Estilos generales del modal */
.modal-content {
  background-color: #fff; /* Fondo blanco */
  border-radius: 8px; /* Bordes redondeados */
  justify-content: center;
}
.custom-select {
  width: 100%; /* Ajusta el ancho según tus necesidades */
  margin-bottom: 10px; /* Puedes ajustar este margen según tu diseño */
  // Agrega más estilos según sea necesario
}
/* Estilos para pantallas pequeñas (menos de 576px) */
@media (max-width: 575.98px) {
  .modal-content {
    width: 90%; /* Ancho del 90% */
    max-width: 500px; /* Ancho máximo de 500px */
  }
}

/* Estilos para pantallas medianas (entre 576px y 767.98px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .modal-content {
    width: 80%; /* Ancho del 80% */
    max-width: 500px; /* Ancho máximo de 500px */
  }
}

/* Estilos para pantallas grandes (768px en adelante) */
@media (min-width: 768px) {
  .modal-content {
    width: 60%; /* Ancho del 60% */
    max-width: 500px; /* Ancho máximo de 500px */
  }
}