@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px; /* Reducción del padding para pantallas más pequeñas */
  background-color: #2f513f;

  @include sm {
    flex-direction: column; /* Cambio a columna en pantallas más pequeñas */
    text-align: center; /* Centrado del texto en pantallas más pequeñas */
    padding: 15px; /* Ajuste de padding para pantallas más pequeñas */
  }

  span {
    &:first-child {
      font-weight: bold;
    }

    &:last-child {
      font-size: 14px;
    }

    &:hover {
      background-color: green;
    }
  }
}
