.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px; /* Espaciado para pantallas más grandes */
  background-color: #557C55;
  height: 92px;

  // Definir el punto de quiebre para pantallas pequeñas
  $screen-sm: 600px;

  @media screen and (max-width: $screen-sm) {
    flex-direction: column; /* Cambio a columna en pantallas más pequeñas */
    align-items: center; /* Centrar elementos en pantallas más pequeñas */
    text-align: center; /* Centrado del texto en pantallas más pequeñas */
    padding: 15px; /* Ajuste de padding para pantallas más pequeñas */
    height: auto; /* Altura automática para adaptarse al contenido */
  }

  span {
    margin-bottom: 10px; /* Espaciado entre elementos en pantallas más pequeñas */

    &:first-child {
      font-weight: bold;
    }

    &:last-child {
      font-size: 14px;
    }

    &:hover {
      background-color: green;
    }
  }
}
